<!DOCTYPE html>
<html lang="en">

<head>
  {{> partials/head }}
  
  <link rel="stylesheet" href="/static/fonts/Material-Icons-Outlined.css" />
  <link rel="stylesheet" href="/static/css/album.css" />
  
</head>

<body>
  {{> partials/header }}

  <main>
    <h1>{{album.Title}}</h1>

    <p>{{album.CreatedAt}}</p>

    <div class="imageMeta__wrapper">
      <div class="imageMeta">
        <div class="imageMeta__item">
          <span class="material-icons-outlined" title="Views">visibility</span>
          <p>{{album.Views}}</p>
        </div>
        {{#unless isAlbum}}
        <p><span class="material-icons-outlined" title="Likes">thumb_up</span> {{album.Upvotes}}</p>
        <p><span class="material-icons-outlined" title="Dislilkes">thumb_down</span> {{album.Downvotes}}</p>
        {{/unless}}
      </div>
      <!--<div class="videoDesc__channel">
        <a href="{{claim.Channel.RelUrl}}">
          {{#if claim.Channel.Thumbnail}}
          <img src="{{claim.Channel.Thumbnail}}&w=56&h=56" class="pfp" width="56" height="56" loading="lazy" />
          {{/if}}
        </a>
        <a href="{{claim.Channel.RelUrl}}">
          <p>
            <b>{{claim.Channel.Title}}</b>
          </p>
        </a>
      </div>-->
    </div>

    {{#each album.Media}}
    {{#if this.Title}}
    <h3>{{this.Title}}</h3>
    {{/if}}
    {{#if this.Description}}
    <p>{{this.Description}}</p><br>
    {{/if}}

    <div class="center">
      <img src="{{this.Url}}" loading="lazy">
    </div>

    <br>
    {{/each}}
  </main>

  {{> partials/footer }}
</body>

</html>